<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="static/css/lib/grapes.min.css">
    <link rel="stylesheet" href="static/css/lib/material.css">
    <link rel="stylesheet" href="static/css/lib/tooltip.css">
    <link rel="stylesheet" href="static/css/lib/toastr.min.css">
    <link rel="stylesheet" href="static/css/lib/grapesjs-preset-newsletter.css">
    <link rel="stylesheet" href="static/css/lib/demos.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="static/js/lib/aviary.js"></script>
    <script src="static/js/lib/grapes.min.js"></script>
    <script src="static/js/lib/ckeditor/ckeditor.js"></script>
    <script src="static/js/lib/grapesjs-plugin-ckeditor.min.js"></script>
    <script src="static/js/lib/grapesjs-preset-newsletter.min.js"></script>
    <script src="static/js/lib/grapesjs-aviary.min.js"></script>
    <script src="static/js/lib/toastr.min.js"></script>
    <script src="static/js/lib/ajaxable.min.js"></script>
    <script src="static/js/lib/grapesjs-blocks-basic.min.js"></script>
    <script src="static/js/lib/grapesjs-mjml.min.js"></script>
</head>
<body>

<tbody>
    <tr>
        <td style="padding:10px 50px 50px 50px; border:1px solid #ebebeb">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>


                <tr>
                    <th class="column" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; Margin:0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody>
                            <tr>
                                <td style="padding-bottom: 16px;">
                                <div class="h3" style="color:#212124; font-family:Roboto,sans-serif; font-size:22px; line-height:26px; text-align:left"><br />
                                <br />
                                <b>Formate seu e-mail.</b></div>
                                </td>
                            </tr>

                            ]
                            <form enctype = "multipart/form-data" method="post">
                                <tr>
                                    <td style="padding-bottom: 16px; text-align: left;">
                                        <input type="email" name="CC" placeholder="Remetente"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 16px; text-align: left;">
                                        <input type="email" name="TO" placeholder="Destinatario"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 16px; text-align: left;">
                                        <input type="text" name="Title" placeholder="Título"></input>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="200" height="500">
                                        <!-- Create the editor container -->
                                        <input id="html" name="html" type="hidden">
                                        <div id="editor"></div>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 16px; text-align: left;">
                                        <input type="file" name="file">
                                        <br /><br />
                                        <input type="submit" value="Submit">
                                    </td>
                                </tr>
                            </form>
                            <tr>
                                <td style="padding-bottom: 18px;">
                                <div class="text" style="color:#6e6e70; font-family:Roboto,sans-serif; font-size:14px; line-height:24px; text-align:left"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </th>
                </tr>
            </tbody>
        </table>
        </td>
    </tr>
    <!-- END Article 0 --><!-- Space -->

</table>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'> </script>
  <script src='https://vjs.zencdn.net/5-unsafe/video.js'></script><script  src="static/js/script.js"></script>
  <script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>